

#menu *{
	margin: 0;
	padding:0;
        font-family: 'NowRegular';
        font-weight: normal;
        font-style: normal;
}

#menu li{
	position: relative;
	float: right;
	list-style: none;
}


#menu li a{
	width:100px;
	height: 30px;
	display: block;
	text-decoration:none;
	text-align: center;
	line-height: 30px;
	background-color: rgb(226, 112, 58);
	color: rgb(255, 255, 255);
    margin-right: 50px;
}

#menu li a:hover{
	background-color: rgb(255, 187, 0);
}



#menu ul ul{
	position: absolute;
	top: 30px;
	visibility: hidden;
}

#menu ul ul ul{
	position: absolute;
	top: 0px; left:100px;
	visibility: hidden;
}



#menu ul li:hover ul{
	visibility:visible;
}

#menu ul li:hover ul ul{
	visibility:hidden;
}

#menu ul ul li:hover ul{
	visibility:visible;
}









